h1{color: red;}
h2{color: red;}
ol{color: darkred;}
ul{letter-spacing: 4px;}
ul{color: darkred;}
p{color: darkred;}
n{text-decoration: line-through;}
f{background-color: yellow;}
l{text-decoration: underline;}
